# Connect to POSTGRE and create tables

In [265]:
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT # <-- ADD THIS LINE

In [266]:
from configparser import ConfigParser
def config(filename='database.ini', section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)
 
    # get section, default to postgresql
    db = {}
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception('Section {0} not found in the {1} file'.format(section, filename))
 
    return db

In [267]:
def connect():
    """ Connect to the PostgreSQL database server returns connection """
    conn = None
    try:
        # read connection parameters
        params = config()
 
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params)
 
        # create a cursor
        cur = conn.cursor()
        
 # execute a statement
        print('PostgreSQL database version:')
        cur.execute('SELECT version()')
 
        # display the PostgreSQL database server version
        db_version = cur.fetchone()
        print(db_version)
       
     # close the communication with the PostgreSQL
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        return conn;

In [268]:
def create_tables(conn):
    """ create tables in the PostgreSQL database and load data from csv"""
    commands = (
        """
        CREATE TABLE adult (
            age INTEGER,
            workclass VARCHAR,
            fnlwgt integer,
            education varchar,
            education_num integer,
            marital_status varchar,
            occupation varchar,
            relationship varchar,
            race varchar,
            sex varchar,
            capital_gain integer,
            capital_loss integer,
            hours_per_week integer,
            native_country varchar,
            data_class varchar
        )
        """,
        """
        copy public.adult (
            age,
            workclass,
            fnlwgt,
            education,
            education_num,
            marital_status,
            occupation,
            relationship,
            race,
            sex,
            capital_gain,
            capital_loss,
            hours_per_week,
            native_country,
            data_class
        ) 
        FROM 'D:/UMass/Spring 18/645/SeeDB/adult_data.csv' 
        DELIMITER ',' CSV ENCODING 'UTF8';
        """)
    conn = None
    try:
        # read the connection parameters
        params = config()
        # connect to the PostgreSQL server
#         conn = psycopg2.connect(**params)
        cur = conn.cursor()
        # create table one by one
        for command in commands:
            cur.execute(command)
        # close communication with the PostgreSQL database server
        cur.close()
        # commit the changes
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

In [269]:
def create_views(conn):
    """ create views of married and unmarried, split into 10 subsets for phases"""
    commands = (
        """
        CREATE VIEW Married 
        AS SELECT * 
        FROM adult
        WHERE marital_status IN (' Married-AF-spouse', ' Married-civ-spouse', ' Married-spouse-absent', ' Separated')
        """,
        """
        CREATE VIEW Unmarried 
        AS SELECT * 
        FROM adult
        WHERE marital_status IN (' Never-married', ' Widowed', ' Divorced')
        """
    )
    conn = None
    try:
        # read the connection parameters
        params = config()
        # connect to the PostgreSQL server
#         conn = psycopg2.connect(**params)
        cur = conn.cursor()
        # create table one by one
        for command in commands:
            cur.execute(command)
        # close communication with the PostgreSQL database server
        cur.close()
        # commit the changes
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

In [270]:
def close_connection(conn):
    """ Close postgres connection"""
    try:
        if conn is not None:
            conn.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

In [278]:
a = ["workclass", "education", "occupation", "relationship", "race", "sex", "native_country","data_class"]
m = ["age", "fnlwgt", "hours_per_week", "capital_gain", "capital_loss"]
f = ["avg", "sum", "min", "max", "count"]

In [279]:
tuples = [(x, m, f) for x in a]

In [285]:
conn = connect()
cur = conn.cursor()

#find total rows in db then split into 10 phase - size of each phase
cur.execute("SELECT COUNT(age) FROM adult;")
num_of_rows = cur.fetchall()[0][0];
print("Number of rows in table ", num_of_rows)
phase = 10
size = num_of_rows/phase+1;
print("Number of phases ", phase)
print("Size of each phase ", size)

#query from adult
cur.execute("SELECT * FROM adult;")
cur2 = conn.cursor()
# for i in ['a_'+`i` for i in range(10)]:
for i in range(10):
    create_tbl = "CREATE TEMP TABLE a_" + str(i) + " (age INTEGER,workclass VARCHAR,fnlwgt integer,education varchar, education_num integer, marital_status varchar, occupation varchar, relationship varchar, race varchar, sex varchar, capital_gain integer, capital_loss integer, hours_per_week integer,native_country varchar,data_class varchar);"
    cur2.execute(create_tbl)
    commands = "INSERT INTO a_"+ str(i) +" VALUES(%s, %s, %s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"
    results = cur.fetchmany(size) #fetching every size-rows from adult
    for result in results:
        #add to view i 
#         print(result)
        cur2.execute(commands,result)

C:\Users\rsarm\Anaconda2\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: You passed a bytestring as `filenames`. This will not work on Python 3. Use `cp.read_file()` or switch to using Unicode strings across the board.

Connecting to the PostgreSQL database...
PostgreSQL database version:
('PostgreSQL 10.1, compiled by Visual C++ build 1800, 64-bit',)
('Number of rows in table ', 29933L)
('Number of phases ', 10)
('Size of each phase ', 2994L)

In [286]:
#closing connection or cur2 will result in dropping temp tables!

### Pruning Optimization

In [289]:
from sklearn.preprocessing import normalize
import scipy
import numpy as np
view_distances = {}
num_of_phases = 1
def normalization(row):
    """
    Function to normalize the f(m) column
    :param rows:
    :return:
    """
    new_row = []
    for val in row:
        if(val is not None):
            new_row.append(val)
    new_row = np.array(new_row)
    return normalize(new_row[:,np.newaxis], axis=0).ravel()
def compute_KL_divergence(target,reference):
    if(len(target)==len(reference)):
        return scipy.stats.entropy(target,reference)
    else:
        return 0
def execute_query(conn,query):
    
    cur = conn.cursor()
    cur.execute(query)
    rows = cur.fetchall()
    cur.close()
    
    return np.array(rows).T

def share_opt(conn):
    for i in range(phase):
        for a,measures,functions in tuples:
            for m in measures:
                for f in functions:
                    target_command ="select {},{}({}) from a_{} where marital_status IN (' Married-AF-spouse', ' Married-civ-spouse', ' Married-spouse-absent', ' Separated') group  by {}".format(a,f,m,i,a)
                    reference_command = "select {},{}({}) from a_{} WHERE marital_status IN (' Never-married', ' Widowed', ' Divorced') group  by {}".format(a,f,m,i,a)
                    target_array = execute_query(conn,target_command)
                    reference_array = execute_query(conn,reference_command)
                    view_distances[(a,m,f)] = compute_KL_divergence(normalization(target_array[1]), normalization(reference_array[1]))
    for key, value in view_distances.items():
        print key
        print value

In [290]:
share_opt(conn)

('sex', 'hours_per_week', 'max')
0.00804551332321
('occupation', 'age', 'avg')
0.00535676876555
('workclass', 'fnlwgt', 'avg')
0
('sex', 'capital_gain', 'avg')
0.00515599363043
('education', 'capital_loss', 'sum')
0
('native_country', 'age', 'max')
0
('native_country', 'age', 'count')
0
('workclass', 'fnlwgt', 'count')
0
('occupation', 'age', 'count')
0.171852017113
('relationship', 'capital_gain', 'count')
0
('occupation', 'hours_per_week', 'min')
0.15102450376
('native_country', 'hours_per_week', 'sum')
0
('relationship', 'capital_loss', 'avg')
0
('workclass', 'hours_per_week', 'min')
0
('workclass', 'capital_gain', 'count')
0
('workclass', 'fnlwgt', 'min')
0
('relationship', 'hours_per_week', 'count')
0
('native_country', 'capital_gain', 'min')
0
('race', 'fnlwgt', 'count')
0.0226682837782
('occupation', 'capital_gain', 'count')
0.171852017113
('data_class', 'hours_per_week', 'count')
0.517612214096
('race', 'capital_gain', 'sum')
inf
('sex', 'capital_loss', 'count')
0.338016940224
('relationship', 'capital_gain', 'min')
0
('workclass', 'capital_gain', 'sum')
0
('sex', 'fnlwgt', 'min')
0.0365201904308
('occupation', 'age', 'max')
0.0104850950512
('native_country', 'fnlwgt', 'max')
0
('race', 'hours_per_week', 'min')
0.0579111559763
('sex', 'capital_gain', 'max')
0.242014419912
('workclass', 'age', 'count')
0
('sex', 'hours_per_week', 'avg')
0.00060135038666
('race', 'capital_gain', 'min')
inf
('race', 'capital_loss', 'sum')
inf
('data_class', 'capital_gain', 'avg')
0.0272870412845
('race', 'hours_per_week', 'sum')
0.0230734953682
('relationship', 'capital_loss', 'max')
0
('workclass', 'capital_loss', 'max')
0
('data_class', 'age', 'avg')
0.00666889603569
('native_country', 'fnlwgt', 'avg')
0
('occupation', 'hours_per_week', 'sum')
0.156060009578
('data_class', 'fnlwgt', 'avg')
2.2721179863e-06
('sex', 'hours_per_week', 'min')
0.223143551314
('workclass', 'age', 'max')
0
('occupation', 'capital_loss', 'max')
0.0248031666857
('race', 'hours_per_week', 'avg')
0.000374627103282
('workclass', 'hours_per_week', 'sum')
0
('native_country', 'capital_loss', 'avg')
0
('occupation', 'capital_gain', 'min')
inf
('sex', 'hours_per_week', 'sum')
0.338769293966
('relationship', 'capital_gain', 'sum')
0
('workclass', 'capital_gain', 'min')
0
('native_country', 'capital_gain', 'count')
0
('occupation', 'fnlwgt', 'max')
0.0494797522732
('education', 'age', 'avg')
0
('data_class', 'capital_loss', 'max')
0.000735885905967
('race', 'fnlwgt', 'max')
0.0506236036601
('sex', 'fnlwgt', 'avg')
0.000155473734602
('education', 'capital_gain', 'avg')
0
('native_country', 'capital_gain', 'avg')
0
('sex', 'capital_loss', 'max')
8.79865105952e-05
('education', 'hours_per_week', 'count')
0
('education', 'fnlwgt', 'avg')
0
('race', 'capital_loss', 'min')
inf
('native_country', 'fnlwgt', 'sum')
0
('relationship', 'hours_per_week', 'max')
0
('data_class', 'capital_loss', 'avg')
6.62030660289e-05
('relationship', 'fnlwgt', 'max')
0
('sex', 'fnlwgt', 'max')
0.0509758952387
('education', 'capital_loss', 'avg')
0
('native_country', 'fnlwgt', 'min')
0
('native_country', 'age', 'sum')
0
('occupation', 'fnlwgt', 'avg')
0.0195006060653
('sex', 'hours_per_week', 'count')
0.338016940224
('relationship', 'age', 'count')
0
('occupation', 'capital_gain', 'sum')
inf
('race', 'capital_loss', 'count')
0.0226682837782
('race', 'age', 'avg')
0.00582668453186
('sex', 'age', 'sum')
0.377864919445
('relationship', 'fnlwgt', 'count')
0
('native_country', 'capital_gain', 'max')
0
('race', 'capital_gain', 'avg')
inf
('workclass', 'fnlwgt', 'sum')
0
('relationship', 'fnlwgt', 'avg')
0
('workclass', 'hours_per_week', 'count')
0
('data_class', 'hours_per_week', 'min')
0.356883233881
('occupation', 'hours_per_week', 'count')
0.171852017113
('workclass', 'capital_loss', 'count')
0
('education', 'capital_loss', 'max')
0
('sex', 'age', 'min')
0.000365274572297
('data_class', 'capital_gain', 'sum')
0.0493632520887
('occupation', 'capital_loss', 'count')
0.171852017113
('race', 'age', 'count')
0.0226682837782
('race', 'capital_loss', 'avg')
inf
('race', 'age', 'sum')
0.0255794437656
('data_class', 'fnlwgt', 'sum')
0.512991986346
('native_country', 'age', 'min')
0
('occupation', 'capital_loss', 'avg')
0.280834294311
('education', 'hours_per_week', 'max')
0
('native_country', 'hours_per_week', 'avg')
0
('occupation', 'fnlwgt', 'count')
0.171852017113
('workclass', 'capital_loss', 'avg')
0
('occupation', 'hours_per_week', 'avg')
0.00673313665544
('education', 'capital_loss', 'count')
0
('data_class', 'age', 'max')
0.000805883806273
('workclass', 'hours_per_week', 'avg')
0
('education', 'age', 'min')
0
('native_country', 'hours_per_week', 'max')
0
('relationship', 'age', 'max')
0
('sex', 'capital_loss', 'sum')
0.222180551623
('occupation', 'fnlwgt', 'sum')
0.174942322443
('relationship', 'hours_per_week', 'min')
0
('native_country', 'capital_loss', 'sum')
0
('race', 'capital_gain', 'count')
0.0226682837782
('education', 'hours_per_week', 'avg')
0
('education', 'age', 'sum')
0
('race', 'fnlwgt', 'sum')
0.0254376881343
('sex', 'age', 'avg')
0.00202890025596
('data_class', 'hours_per_week', 'sum')
0.483007875074
('race', 'capital_loss', 'max')
inf
('native_country', 'capital_loss', 'min')
0
('sex', 'fnlwgt', 'count')
0.338016940224
('race', 'age', 'max')
0.0118405823572
('education', 'fnlwgt', 'max')
0
('relationship', 'age', 'avg')
0
('education', 'age', 'count')
0
('sex', 'capital_loss', 'min')
inf
('sex', 'capital_gain', 'sum')
0.275145418129
('sex', 'age', 'count')
0.338016940224
('education', 'capital_gain', 'max')
0
('data_class', 'capital_gain', 'min')
inf
('data_class', 'capital_loss', 'sum')
0.644050424221
('race', 'fnlwgt', 'min')
0.30008840602
('workclass', 'age', 'sum')
0
('data_class', 'capital_loss', 'count')
0.517612214096
('data_class', 'fnlwgt', 'min')
0.0111520813338
('native_country', 'age', 'avg')
0
('education', 'fnlwgt', 'count')
0
('native_country', 'hours_per_week', 'min')
0
('relationship', 'capital_loss', 'sum')
0
('workclass', 'age', 'min')
0
('data_class', 'fnlwgt', 'count')
0.517612214096
('education', 'capital_gain', 'count')
0
('occupation', 'capital_loss', 'sum')
0.198884837351
('data_class', 'capital_loss', 'min')
inf
('workclass', 'capital_gain', 'max')
0
('data_class', 'capital_gain', 'count')
0.517612214096
('relationship', 'capital_loss', 'min')
0
('occupation', 'fnlwgt', 'min')
0.374394122132
('relationship', 'hours_per_week', 'sum')
0
('occupation', 'age', 'sum')
0.151321385907
('sex', 'age', 'max')
0.00365854904965
('workclass', 'capital_loss', 'sum')
0
('native_country', 'hours_per_week', 'count')
0
('occupation', 'capital_gain', 'max')
inf
('education', 'capital_gain', 'min')
0
('native_country', 'capital_loss', 'count')
0
('occupation', 'capital_loss', 'min')
inf
('education', 'hours_per_week', 'sum')
0
('race', 'capital_gain', 'max')
inf
('education', 'fnlwgt', 'min')
0
('workclass', 'capital_loss', 'min')
0
('data_class', 'fnlwgt', 'max')
0.149492188654
('relationship', 'fnlwgt', 'sum')
0
('sex', 'capital_gain', 'min')
inf
('data_class', 'age', 'sum')
0.447523015314
('occupation', 'age', 'min')
0.053407022664
('native_country', 'fnlwgt', 'count')
0
('data_class', 'age', 'count')
0.517612214096
('data_class', 'capital_gain', 'max')
0.0026020759682
('occupation', 'capital_gain', 'avg')
inf
('data_class', 'hours_per_week', 'avg')
0.00264668677675
('native_country', 'capital_loss', 'max')
0
('workclass', 'capital_gain', 'avg')
0
('relationship', 'age', 'sum')
0
('workclass', 'hours_per_week', 'max')
0
('relationship', 'capital_gain', 'avg')
0
('workclass', 'age', 'avg')
0
('race', 'hours_per_week', 'max')
0.0217414244243
('data_class', 'age', 'min')
0.00616220124286
('native_country', 'capital_gain', 'sum')
0
('sex', 'capital_gain', 'count')
0.338016940224
('relationship', 'age', 'min')
0
('occupation', 'hours_per_week', 'max')
0.0458250074306
('race', 'age', 'min')
0.00861259377929
('sex', 'fnlwgt', 'sum')
0.319161746199
('relationship', 'fnlwgt', 'min')
0
('data_class', 'hours_per_week', 'max')
0.00113421572807
('workclass', 'fnlwgt', 'max')
0
('sex', 'capital_loss', 'avg')
0.00732895365766
('education', 'capital_gain', 'sum')
0
('education', 'age', 'max')
0
('race', 'hours_per_week', 'count')
0.0226682837782
('relationship', 'capital_gain', 'max')
0
('race', 'fnlwgt', 'avg')
0.00274882913174
('education', 'fnlwgt', 'sum')
0
('education', 'capital_loss', 'min')
0
('relationship', 'hours_per_week', 'avg')
0
('relationship', 'capital_loss', 'count')
0
('education', 'hours_per_week', 'min')
0

In [282]:
conn.rollback()