# Connect to POSTGRE and create tables

In [265]:
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT # <-- ADD THIS LINE

In [266]:
from configparser import ConfigParser
def config(filename='database.ini', section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)
 
    # get section, default to postgresql
    db = {}
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception('Section {0} not found in the {1} file'.format(section, filename))
 
    return db

In [267]:
def connect():
    """ Connect to the PostgreSQL database server returns connection """
    conn = None
    try:
        # read connection parameters
        params = config()
 
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params)
 
        # create a cursor
        cur = conn.cursor()
        
 # execute a statement
        print('PostgreSQL database version:')
        cur.execute('SELECT version()')
 
        # display the PostgreSQL database server version
        db_version = cur.fetchone()
        print(db_version)
       
     # close the communication with the PostgreSQL
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        return conn;

In [268]:
def create_tables(conn):
    """ create tables in the PostgreSQL database and load data from csv"""
    commands = (
        """
        CREATE TABLE adult (
            age INTEGER,
            workclass VARCHAR,
            fnlwgt integer,
            education varchar,
            education_num integer,
            marital_status varchar,
            occupation varchar,
            relationship varchar,
            race varchar,
            sex varchar,
            capital_gain integer,
            capital_loss integer,
            hours_per_week integer,
            native_country varchar,
            data_class varchar
        )
        """,
        """
        copy public.adult (
            age,
            workclass,
            fnlwgt,
            education,
            education_num,
            marital_status,
            occupation,
            relationship,
            race,
            sex,
            capital_gain,
            capital_loss,
            hours_per_week,
            native_country,
            data_class
        ) 
        FROM 'D:/UMass/Spring 18/645/SeeDB/adult_data.csv' 
        DELIMITER ',' CSV ENCODING 'UTF8';
        """)
    conn = None
    try:
        # read the connection parameters
        params = config()
        # connect to the PostgreSQL server
#         conn = psycopg2.connect(**params)
        cur = conn.cursor()
        # create table one by one
        for command in commands:
            cur.execute(command)
        # close communication with the PostgreSQL database server
        cur.close()
        # commit the changes
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

In [269]:
def create_views(conn):
    """ create views of married and unmarried, split into 10 subsets for phases"""
    commands = (
        """
        CREATE VIEW Married 
        AS SELECT * 
        FROM adult
        WHERE marital_status IN (' Married-AF-spouse', ' Married-civ-spouse', ' Married-spouse-absent', ' Separated')
        """,
        """
        CREATE VIEW Unmarried 
        AS SELECT * 
        FROM adult
        WHERE marital_status IN (' Never-married', ' Widowed', ' Divorced')
        """
    )
    conn = None
    try:
        # read the connection parameters
        params = config()
        # connect to the PostgreSQL server
#         conn = psycopg2.connect(**params)
        cur = conn.cursor()
        # create table one by one
        for command in commands:
            cur.execute(command)
        # close communication with the PostgreSQL database server
        cur.close()
        # commit the changes
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

In [270]:
def close_connection(conn):
    """ Close postgres connection"""
    try:
        if conn is not None:
            conn.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

In [271]:
a = ["workclass", "education", "occupation", "relationship", "race", "sex", "native_country","data_class"]
m = ["age", "fnlwgt", "hours_per_week", "capital_gain", "capital_loss"]
f = ["avg", "sum", "min", "max", "count"]

In [272]:
tuples = [(x, m, f) for x in a]

In [273]:
conn = connect()
cur = conn.cursor()

#find total rows in db then split into 10 phase - size of each phase
cur.execute("SELECT COUNT(age) FROM adult;")
num_of_rows = cur.fetchall()[0][0];
print("Number of rows in table ", num_of_rows)
phase = 10
size = num_of_rows/phase+1;
print("Number of phases ", phase)
print("Size of each phase ", size)

#query from adult
cur.execute("SELECT * FROM adult;")
cur2 = conn.cursor()
# for i in ['a_'+`i` for i in range(10)]:
for i in range(10):
    create_tbl = "CREATE TEMP TABLE a_" + str(i) + " (age INTEGER,workclass VARCHAR,fnlwgt integer,education varchar, education_num integer, marital_status varchar, occupation varchar, relationship varchar, race varchar, sex varchar, capital_gain integer, capital_loss integer, hours_per_week integer,native_country varchar,data_class varchar);"
    cur2.execute(create_tbl)
    commands = "INSERT INTO a_"+ str(i) +" VALUES(%s, %s, %s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"
    results = cur.fetchmany(size) #fetching every size-rows from adult
    for result in results:
        #add to view i 
#         print(result)
        cur2.execute(commands,result)

C:\Users\rsarm\Anaconda2\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: You passed a bytestring as `filenames`. This will not work on Python 3. Use `cp.read_file()` or switch to using Unicode strings across the board.

Connecting to the PostgreSQL database...
PostgreSQL database version:
('PostgreSQL 10.1, compiled by Visual C++ build 1800, 64-bit',)
('Number of rows in table ', 29933L)
('Number of phases ', 10)
('Size of each phase ', 2994L)

In [274]:
#closing connection or cur2 will result in dropping temp tables!

### Pruning Optimization

In [275]:
from sklearn.preprocessing import normalize
import scipy
import numpy as np
view_distances = {}
num_of_phases = 1
def normalization(row):
    """
    Function to normalize the f(m) column
    :param rows:
    :return:
    """
    new_row = []
    for val in row:
        if(val is not None):
            new_row.append(val)
    new_row = np.array(new_row)
    #new_row = new_row.reshape(-1,1)
    #print new_row
    return normalize(new_row[:,np.newaxis], axis=0).ravel()
    #return normalize(new_row)
def compute_KL_divergence(target,reference):
    if(len(target)==len(reference)):
        return scipy.stats.entropy(target,reference)
    else:
        return 0
def execute_query(conn,query):
    
    cur = conn.cursor()
    cur.execute(query)
    rows = cur.fetchall()
    cur.close()
    
    return np.array(rows).T

def share_opt(conn):
    for i in range(phase):
        for a,measures,functions in tuples:
            for m in measures:
                for f in functions:
                    target_command ="select {},{}({}) from a_{} where marital_status IN (' Married-AF-spouse', ' Married-civ-spouse', ' Married-spouse-absent', ' Separated') group  by {}".format(a,f,m,i,a)
                    reference_command = "select {},{}({}) from a_{} WHERE marital_status IN (' Never-married', ' Widowed', ' Divorced') group  by {}".format(a,f,m,i,a)
                    target_array = execute_query(conn,target_command)
                    reference_array = execute_query(conn,reference_command)
                    view_distances[(a,m,f)] = compute_KL_divergence(normalization(target_array[1]), normalization(reference_array[1]))
    print view_distances

In [276]:
share_opt(conn)

ProgrammingError: column "realtionship" does not exist
LINE 1: select realtionship,avg(age) from a_0 where marital_status I...
               ^
HINT:  Perhaps you meant to reference the column "a_0.relationship".