# Connect to POSTGRE and create tables

In [409]:
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT # <-- ADD THIS LINE

In [410]:
from configparser import ConfigParser
def config(filename='database.ini', section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)
 
    # get section, default to postgresql
    db = {}
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception('Section {0} not found in the {1} file'.format(section, filename))
 
    return db

In [411]:
def connect():
    """ Connect to the PostgreSQL database server returns connection """
    conn = None
    try:
        # read connection parameters
        params = config()
 
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params)
 
        # create a cursor
        cur = conn.cursor()
        
 # execute a statement
        print('PostgreSQL database version:')
        cur.execute('SELECT version()')
 
        # display the PostgreSQL database server version
        db_version = cur.fetchone()
        print(db_version)
       
     # close the communication with the PostgreSQL
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        return conn;

In [412]:
def create_tables(conn):
    """ create tables in the PostgreSQL database and load data from csv"""
    commands = (
        """
        CREATE TABLE adult (
            age INTEGER,
            workclass VARCHAR,
            fnlwgt integer,
            education varchar,
            education_num integer,
            marital_status varchar,
            occupation varchar,
            relationship varchar,
            race varchar,
            sex varchar,
            capital_gain integer,
            capital_loss integer,
            hours_per_week integer,
            native_country varchar,
            data_class varchar
        )
        """,
        """
        copy public.adult (
            age,
            workclass,
            fnlwgt,
            education,
            education_num,
            marital_status,
            occupation,
            relationship,
            race,
            sex,
            capital_gain,
            capital_loss,
            hours_per_week,
            native_country,
            data_class
        ) 
        FROM 'D:/UMass/Spring 18/645/SeeDB/adult_data.csv' 
        DELIMITER ',' CSV ENCODING 'UTF8';
        """)
    conn = None
    try:
        # read the connection parameters
        params = config()
        # connect to the PostgreSQL server
#         conn = psycopg2.connect(**params)
        cur = conn.cursor()
        # create table one by one
        for command in commands:
            cur.execute(command)
        # close communication with the PostgreSQL database server
        cur.close()
        # commit the changes
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

In [413]:
def create_views(conn):
    """ create views of married and unmarried, split into 10 subsets for phases"""
    commands = (
        """
        CREATE VIEW Married 
        AS SELECT * 
        FROM adult
        WHERE marital_status IN (' Married-AF-spouse', ' Married-civ-spouse', ' Married-spouse-absent', ' Separated')
        """,
        """
        CREATE VIEW Unmarried 
        AS SELECT * 
        FROM adult
        WHERE marital_status IN (' Never-married', ' Widowed', ' Divorced')
        """
    )
    conn = None
    try:
        # read the connection parameters
        params = config()
        # connect to the PostgreSQL server
#         conn = psycopg2.connect(**params)
        cur = conn.cursor()
        # create table one by one
        for command in commands:
            cur.execute(command)
        # close communication with the PostgreSQL database server
        cur.close()
        # commit the changes
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

In [414]:
def close_connection(conn):
    """ Close postgres connection"""
    try:
        if conn is not None:
            conn.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

In [415]:
a = ["workclass", "education", "occupation", "relationship", "race", "sex", "native_country","data_class"]
m = ["age", "fnlwgt", "hours_per_week", "capital_gain", "capital_loss"]
f = ["avg", "sum", "min", "max", "count"]

In [416]:
tuples = [(x, m, f) for x in a]

In [417]:
conn = connect()
cur = conn.cursor()

#find total rows in db then split into 10 phase - size of each phase
cur.execute("SELECT COUNT(age) FROM adult;")
num_of_rows = cur.fetchall()[0][0];
print("Number of rows in table ", num_of_rows)
phase = 10
size = num_of_rows/phase+1;
print("Number of phases ", phase)
print("Size of each phase ", size)

#query from adult
cur.execute("SELECT * FROM adult;")
cur2 = conn.cursor()
# for i in ['a_'+`i` for i in range(10)]:
for i in range(10):
    create_tbl = "CREATE TEMP TABLE a_" + str(i) + " (age INTEGER,workclass VARCHAR,fnlwgt integer,education varchar, education_num integer, marital_status varchar, occupation varchar, relationship varchar, race varchar, sex varchar, capital_gain integer, capital_loss integer, hours_per_week integer,native_country varchar,data_class varchar);"
    cur2.execute(create_tbl)
    commands = "INSERT INTO a_"+ str(i) +" VALUES(%s, %s, %s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"
    results = cur.fetchmany(size) #fetching every size-rows from adult
    for result in results:
        #add to view i 
#         print(result)
        cur2.execute(commands,result)

C:\Users\rsarm\Anaconda2\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: You passed a bytestring as `filenames`. This will not work on Python 3. Use `cp.read_file()` or switch to using Unicode strings across the board.

Connecting to the PostgreSQL database...
PostgreSQL database version:
('PostgreSQL 10.1, compiled by Visual C++ build 1800, 64-bit',)
('Number of rows in table ', 29933L)
('Number of phases ', 10)
('Size of each phase ', 2994L)

In [418]:
#closing connection or cur2 will result in dropping temp tables!

### Pruning Optimization

In [429]:
from sklearn.preprocessing import normalize
import scipy
import numpy as np
view_distances = {}
num_of_phases = 1

In [430]:
def normalization(row):
    """
    Function to normalize the f(m) column
    :param rows:
    :return:
    """
    new_row = []
    for val in row:
        if(val is not None):
            new_row.append(val)
    new_row = np.array(new_row)
    return normalize(new_row[:,np.newaxis], axis=0).ravel()

In [431]:
def compute_KL_divergence(target,reference):
    if(len(target)==len(reference)):
        return scipy.stats.entropy(target,reference)
    else:
        return 0

In [432]:
def execute_query(conn,query):  
    cur = conn.cursor()
    cur.execute(query)
    rows = cur.fetchall()
    cur.close()    
    return np.array(rows).T

In [433]:
import math

In [434]:
def get_mean(view_distances):
    my_values = []
    for key, value in view_distances.items():
        if not math.isinf(value) and value > 0:
            my_values.append(value)
    return np.mean(my_values), np.std(my_values)

In [435]:
def get_confidence_interval(m, mu):
    delta = 0.95
    n = phase
    term1 = 1 - (m-1)/n
    print m
    print math.log(m)
    term2 = 2 * math.log(math.log(m))
    term3 = math.log((3.14*3.14)/(3*delta))
    numerator = term1 * (term2 + term3)
    denominator = 2 * m
    epsilon = math.sqrt(numerator/denominator)
    confidence_interval = [mu-epsilon, mu+epsilon]
    return confidence_interval

In [439]:
def prune(view_distances, m, phase):
    mu , sigma = get_mean(view_distances)
    print scipy.stats.norm.interval(0.95, loc=mu, scale=sigma)
    #TODO prune based on the confidence interval

In [450]:
def share_opt(conn):
    view_distances = {}
    # Phase 0
    for a,measures,functions in tuples:
         for m in measures:
            for f in functions:
                #view_distances[(a,m,f)] = []
                target_command ="select {},{}({}) from a_{} where marital_status IN (' Married-AF-spouse', ' Married-civ-spouse', ' Married-spouse-absent', ' Separated') group  by {}".format(a,f,m,0,a)
                reference_command = "select {},{}({}) from a_{} WHERE marital_status IN (' Never-married', ' Widowed', ' Divorced') group  by {}".format(a,f,m,0,a)
                target_array = execute_query(conn,target_command)
                reference_array = execute_query(conn,reference_command)
                view_distances[(a,m,f)]=compute_KL_divergence(normalization(target_array[1]), normalization(reference_array[1]))
    print view_distances
    #view_distances = prune(view_distances, 1, phase)
    for i in range(1, phase):
        for key, value in view_distances.items():
                a = key[0]
                m = key[1]
                f = key[2]
                target_command ="select {},{}({}) from a_{} where marital_status IN (' Married-AF-spouse', ' Married-civ-spouse', ' Married-spouse-absent', ' Separated') group  by {}".format(a,f,m,i,a)
                reference_command = "select {},{}({}) from a_{} WHERE marital_status IN (' Never-married', ' Widowed', ' Divorced') group  by {}".format(a,f,m,i,a)
                reference_array = execute_query(conn,reference_command)
                view_distances[(a,m,f)]=compute_KL_divergence(normalization(target_array[1]), normalization(reference_array[1]))
        #if(i!=phase-1):
            #view_distances = prune(view_distances, i+1, phase)

In [451]:
share_opt(conn)

{('sex', 'hours_per_week', 'max'): 0.0031530155099300725, ('occupation', 'age', 'avg'): 0, ('workclass', 'fnlwgt', 'avg'): 0, ('sex', 'capital_gain', 'avg'): 0.36594981402586674, ('education', 'capital_loss', 'sum'): inf, ('native_country', 'age', 'max'): 0, ('native_country', 'age', 'count'): 0, ('workclass', 'fnlwgt', 'count'): 0, ('occupation', 'age', 'count'): 0, ('relationship', 'capital_gain', 'count'): 0, ('occupation', 'hours_per_week', 'min'): 0, ('native_country', 'hours_per_week', 'sum'): 0, ('relationship', 'capital_loss', 'avg'): 0, ('workclass', 'hours_per_week', 'min'): 0, ('workclass', 'capital_gain', 'count'): 0, ('workclass', 'fnlwgt', 'min'): 0, ('relationship', 'hours_per_week', 'count'): 0, ('native_country', 'capital_gain', 'min'): 0, ('race', 'fnlwgt', 'count'): 0.019251545438810441, ('occupation', 'capital_gain', 'count'): 0, ('data_class', 'hours_per_week', 'count'): 0.56747038038135922, ('race', 'capital_gain', 'sum'): inf, ('sex', 'capital_loss', 'count'): 0.24145567197736825, ('relationship', 'capital_gain', 'min'): 0, ('workclass', 'capital_gain', 'sum'): 0, ('sex', 'fnlwgt', 'min'): 0.0072543117747579586, ('occupation', 'age', 'max'): 0, ('native_country', 'fnlwgt', 'max'): 0, ('race', 'hours_per_week', 'min'): 0.15448992844162651, ('sex', 'capital_gain', 'max'): 0.41867927948002648, ('workclass', 'age', 'count'): 0, ('sex', 'hours_per_week', 'avg'): 0.00091794202392727828, ('race', 'capital_gain', 'min'): inf, ('race', 'capital_loss', 'sum'): 0.033383339130493787, ('data_class', 'capital_gain', 'avg'): 0.0045664116335464126, ('race', 'hours_per_week', 'sum'): 0.021425804712154439, ('relationship', 'capital_loss', 'max'): 0, ('workclass', 'capital_loss', 'max'): 0, ('data_class', 'age', 'avg'): 0.0036724547112923778, ('native_country', 'fnlwgt', 'avg'): 0, ('occupation', 'hours_per_week', 'sum'): 0, ('data_class', 'fnlwgt', 'avg'): 0.00077747051064785272, ('sex', 'hours_per_week', 'min'): 0.36299034890931503, ('workclass', 'age', 'max'): 0, ('occupation', 'capital_loss', 'max'): 0, ('race', 'hours_per_week', 'avg'): 0.0017769724645642238, ('workclass', 'hours_per_week', 'sum'): 0, ('native_country', 'capital_loss', 'avg'): 0, ('occupation', 'capital_gain', 'min'): 0, ('sex', 'hours_per_week', 'sum'): 0.24968114414865694, ('relationship', 'capital_gain', 'sum'): 0, ('workclass', 'capital_gain', 'min'): 0, ('native_country', 'capital_gain', 'count'): 0, ('occupation', 'fnlwgt', 'max'): 0, ('education', 'age', 'avg'): 0.017488298202506192, ('data_class', 'capital_loss', 'max'): 0.00060060821783339269, ('race', 'fnlwgt', 'max'): 0.027145209553723029, ('sex', 'fnlwgt', 'avg'): 0.00066277693162199516, ('education', 'capital_gain', 'avg'): inf, ('native_country', 'capital_gain', 'avg'): 0, ('sex', 'capital_loss', 'max'): 0.00090695047592247169, ('education', 'hours_per_week', 'count'): 0.04994315537062434, ('education', 'fnlwgt', 'avg'): 0.0046184590072512917, ('race', 'capital_loss', 'min'): inf, ('native_country', 'fnlwgt', 'sum'): 0, ('relationship', 'hours_per_week', 'max'): 0, ('data_class', 'capital_loss', 'avg'): 0.0038397505536150942, ('relationship', 'fnlwgt', 'max'): 0, ('sex', 'fnlwgt', 'max'): 0.063184966801073467, ('education', 'capital_loss', 'avg'): inf, ('native_country', 'fnlwgt', 'min'): 0, ('native_country', 'age', 'sum'): 0, ('occupation', 'fnlwgt', 'avg'): 0, ('sex', 'hours_per_week', 'count'): 0.24145567197736825, ('relationship', 'age', 'count'): 0, ('occupation', 'capital_gain', 'sum'): 0, ('race', 'capital_loss', 'count'): 0.019251545438810441, ('race', 'age', 'avg'): 0.0059877623092080764, ('sex', 'age', 'sum'): 0.30724462024147547, ('relationship', 'fnlwgt', 'count'): 0, ('native_country', 'capital_gain', 'max'): 0, ('race', 'capital_gain', 'avg'): inf, ('workclass', 'fnlwgt', 'sum'): 0, ('relationship', 'fnlwgt', 'avg'): 0, ('workclass', 'hours_per_week', 'count'): 0, ('data_class', 'hours_per_week', 'min'): 0.29389333245105953, ('occupation', 'hours_per_week', 'count'): 0, ('workclass', 'capital_loss', 'count'): 0, ('education', 'capital_loss', 'max'): inf, ('sex', 'age', 'min'): 0.00032876712881642865, ('data_class', 'capital_gain', 'sum'): 0.20947460912013197, ('occupation', 'capital_loss', 'count'): 0, ('race', 'age', 'count'): 0.019251545438810441, ('race', 'capital_loss', 'avg'): 0.068114782852302616, ('race', 'age', 'sum'): 0.023625928700209249, ('data_class', 'fnlwgt', 'sum'): 0.53086674146540103, ('native_country', 'age', 'min'): 0, ('occupation', 'capital_loss', 'avg'): 0, ('education', 'hours_per_week', 'max'): 0.014641799643042757, ('native_country', 'hours_per_week', 'avg'): 0, ('occupation', 'fnlwgt', 'count'): 0, ('workclass', 'capital_loss', 'avg'): 0, ('occupation', 'hours_per_week', 'avg'): 0, ('education', 'capital_loss', 'count'): 0.04994315537062434, ('data_class', 'age', 'max'): 2.1765260914316173e-05, ('workclass', 'hours_per_week', 'avg'): 0, ('education', 'age', 'min'): 0.021718553550076278, ('native_country', 'hours_per_week', 'max'): 0, ('relationship', 'age', 'max'): 0, ('sex', 'capital_loss', 'sum'): 0.098983524720269334, ('occupation', 'fnlwgt', 'sum'): 0, ('relationship', 'hours_per_week', 'min'): 0, ('native_country', 'capital_loss', 'sum'): 0, ('race', 'capital_gain', 'count'): 0.019251545438810441, ('education', 'hours_per_week', 'avg'): 0.007327320895189721, ('education', 'age', 'sum'): 0.040422968512652327, ('race', 'fnlwgt', 'sum'): 0.013794095832865977, ('sex', 'age', 'avg'): 0.0061843539223446972, ('data_class', 'hours_per_week', 'sum'): 0.55092070170914631, ('race', 'capital_loss', 'max'): 0.019906225715714949, ('native_country', 'capital_loss', 'min'): 0, ('sex', 'fnlwgt', 'count'): 0.24145567197736825, ('race', 'age', 'max'): 0.0072815094608909663, ('education', 'fnlwgt', 'max'): 0.053671453359478399, ('relationship', 'age', 'avg'): 0, ('education', 'age', 'count'): 0.04994315537062434, ('sex', 'capital_loss', 'min'): inf, ('sex', 'capital_gain', 'sum'): 0.9885955351608412, ('sex', 'age', 'count'): 0.24145567197736825, ('education', 'capital_gain', 'max'): inf, ('data_class', 'capital_gain', 'min'): inf, ('data_class', 'capital_loss', 'sum'): 0.82323753617729578, ('race', 'fnlwgt', 'min'): 0.34245071290265988, ('workclass', 'age', 'sum'): 0, ('data_class', 'capital_loss', 'count'): 0.56747038038135922, ('data_class', 'fnlwgt', 'min'): 0.0092299009738519427, ('native_country', 'age', 'avg'): 0, ('education', 'fnlwgt', 'count'): 0.04994315537062434, ('native_country', 'hours_per_week', 'min'): 0, ('relationship', 'capital_loss', 'sum'): 0, ('workclass', 'age', 'min'): 0, ('data_class', 'fnlwgt', 'count'): 0.56747038038135922, ('education', 'capital_gain', 'count'): 0.04994315537062434, ('occupation', 'capital_loss', 'sum'): 0, ('data_class', 'capital_loss', 'min'): inf, ('workclass', 'capital_gain', 'max'): 0, ('data_class', 'capital_gain', 'count'): 0.56747038038135922, ('relationship', 'capital_loss', 'min'): 0, ('occupation', 'fnlwgt', 'min'): 0, ('relationship', 'hours_per_week', 'sum'): 0, ('occupation', 'age', 'sum'): 0, ('sex', 'age', 'max'): 0.0, ('workclass', 'capital_loss', 'sum'): 0, ('native_country', 'hours_per_week', 'count'): 0, ('occupation', 'capital_gain', 'max'): 0, ('education', 'capital_gain', 'min'): inf, ('native_country', 'capital_loss', 'count'): 0, ('occupation', 'capital_loss', 'min'): 0, ('education', 'hours_per_week', 'sum'): 0.035095665145610529, ('race', 'capital_gain', 'max'): inf, ('education', 'fnlwgt', 'min'): 0.11866009565214615, ('workclass', 'capital_loss', 'min'): 0, ('data_class', 'fnlwgt', 'max'): 0.0004594378768679238, ('relationship', 'fnlwgt', 'sum'): 0, ('sex', 'capital_gain', 'min'): inf, ('data_class', 'age', 'sum'): 0.51445709524264305, ('occupation', 'age', 'min'): 0, ('native_country', 'fnlwgt', 'count'): 0, ('data_class', 'age', 'count'): 0.56747038038135922, ('data_class', 'capital_gain', 'max'): 0.12540758671029417, ('occupation', 'capital_gain', 'avg'): 0, ('data_class', 'hours_per_week', 'avg'): 0.0014215130167357613, ('native_country', 'capital_loss', 'max'): 0, ('workclass', 'capital_gain', 'avg'): 0, ('relationship', 'age', 'sum'): 0, ('workclass', 'hours_per_week', 'max'): 0, ('relationship', 'capital_gain', 'avg'): 0, ('workclass', 'age', 'avg'): 0, ('race', 'hours_per_week', 'max'): 0.013598235056733545, ('data_class', 'age', 'min'): 0.00055101847064573106, ('native_country', 'capital_gain', 'sum'): 0, ('sex', 'capital_gain', 'count'): 0.24145567197736825, ('relationship', 'age', 'min'): 0, ('occupation', 'hours_per_week', 'max'): 0, ('race', 'age', 'min'): 0.0051605223779554732, ('sex', 'fnlwgt', 'sum'): 0.21913676207619012, ('relationship', 'fnlwgt', 'min'): 0, ('data_class', 'hours_per_week', 'max'): 0.0085249160277568806, ('workclass', 'fnlwgt', 'max'): 0, ('sex', 'capital_loss', 'avg'): 0.034604244997719663, ('education', 'capital_gain', 'sum'): inf, ('education', 'age', 'max'): 0.0086431822260899203, ('race', 'hours_per_week', 'count'): 0.019251545438810441, ('relationship', 'capital_gain', 'max'): 0, ('race', 'fnlwgt', 'avg'): 0.011443988053062487, ('education', 'fnlwgt', 'sum'): 0.055165470510489624, ('education', 'capital_loss', 'min'): inf, ('relationship', 'hours_per_week', 'avg'): 0, ('relationship', 'capital_loss', 'count'): 0, ('education', 'hours_per_week', 'min'): 0.69494322461374769}

In [404]:
conn.rollback()